/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.row {
  margin: 0;
}
i.fa {
  font-size: 1.5em;
}

/* Header Styles */
header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* Navbar Styles */
nav {
  margin: 0;
}
nav li {
  text-align: center;
}

/* Main Container Styles */
main {
  margin-bottom: 20px;
}
main .container-fluid {
  padding: 60px 10px;
  min-height: 100vh;
}
main .row {
  padding-bottom: 10px;
}

/* Home Section Styles */
.container-fluid#home {
  background-color: slategray;
}
.showcase img {
  height: 200px;
  width: 100%;
}

/* About Section Styles */
.container-fluid#about {
  background-color: tan;
}

#about p {
  font-size: 1.25em;
}

/* Courses Section Styles */
#courses {
  background-color: lightgreen;
}
#courses .row {
  padding: 0;
}
#courses ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Contact Section Styles */
.container-fluid#contact {
  background-color: lightblue;
}

/* Footer Styles */
footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(255,255,255,0.7);
  width: 100%;
}