/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.background {
  height: 100vh;
  min-width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: -9999;
}
.background img {
  height: 100%;
  min-width: 100%;
}
section {
  font-weight: 500;
  padding-top: 60px;
  width: 80%;
  margin: 0 auto;
  color: white;
}
@media screen and (max-width: 768px) {
  section {
    width: 95%;
  }
}
.row {
  margin: 0;
}
i.fa {
  font-size: 1.2em;
}
a {
  color: rgb(100,255,100);
}
a:hover {
  color: rgb(100,255,100);
  text-decoration: none;
  font-weight: bolder;
}

/* Header Styles */
header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* Navbar Styles */
nav {
  margin: 0;
}
nav li {
  text-align: center;
}

/* Main Container Styles */
main .container {
  margin: 0;
  width: 100%;
  background-color: transparent;
  background-color: rgba(3,85,163,0.7);
  padding-bottom: 5em;
  min-height: 100vh;
}
main .row {
  padding-bottom: 10px;
}

/* Home Section Styles */
.thumbnail {
  color: black;
}
.thumbnail img {
  height: 200px;
  width: 100%;
}

/* About Section Styles */
#about p {
  font-size: 1.25em;
}

/* Courses Section Styles */
.cert {
  margin-bottom: 20px;
}
#courses .row {
  padding: 0;
}
#courses ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Footer Styles */
footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(255,255,255,0.7);
  height: 2em;
  width: 100%;
}

#calculator {
  background-color: lightGray;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 50%;
}
#display {
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin: 10px;
  padding: 10px;
  text-align: right;
  width: 100%;
}
#keypad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
#keypad button {
  height: 50px;
  margin: 10px 5px;
  width: 30%;
}
