/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
li {
  list-style: none;
  display: inline-block;
}
a {
  font-weight: bold;
}
a:hover {
  color: black;
}
.large-text {
  font-size: 2em;
}

/* Header Styles */
header {
  background-color: rgba(255,255,255,0.7);
  height: 125px;
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
header img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
header h1 {
  margin: 0;
  text-align: center;
  font-size: 5em;
}

/* Social Media Icon Styles */
.social {
  font-size: 2.5em;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.social li {
  width: 33%;
}

/* Navbar Styles */
nav {
  margin: 10px 0;
}
nav ul {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  width: 33%;
}
nav li {
  text-align: center;
  width: 25%;
}
nav a {
  display: block;
  width: 100%;
}
nav a:hover {
  text-decoration: none;
  border-bottom: 5px solid black;
  font-weight: bold;
}

/* Main Container Styles */
main {
  margin-bottom: 20px;
}
main .container-fluid {
  padding-top: 130px;
  min-height: 640px;
}
main .row {
  padding: 15px 0;
}

/* Home Section Styles */
.container-fluid#home {
  background-color: slategray;
}
.showcase img {
  height: 200px;
  width: 100%;
}

/* About Section Styles */
.container-fluid#about {
  background-color: tan;
}

#about p {
  font-size: 1.25em;
}

/* Courses Section Styles */
.container-fluid#courses {
  background-color: lightgreen;
}
.course-list {
  padding-left: 25px;
}
#courses ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}
#courses ul li {
  flex: 1 0 25%;
  padding: 10px 25px 10px 0;
}

/* Contact Section Styles */
.container-fluid#contact {
  background-color: lightblue;
}

/* Footer Styles */
footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(255,255,255,0.7);
  width: 100%;
}