{
  "extends": ["wesbos/typescript"],
  "rules": {
    "no-console": 2,
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "trailingComma": "none",
        "singleQuote": true,
        "tabWidth": 2
      }
    ]
  }
}
