@import "@material/typography/mdc-typography";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
@import "@material/button/mdc-button";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

/* Reset Styles */
body {
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
}
a {
    text-decoration: none;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}
.mdc-top-app-bar {
    background-color: transparent;
    color: $mdc-theme-primary;
}
.mdc-top-app-bar__navigation-icon {
    color: $mdc-theme-primary !important;
}
.mdc-tab-bar {
    display: none;
}
.main-content {
    overflow: auto;
    height: 100%;
}
.section-placeholder {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#about {
    background-color: rgba(0,0,0,0.25);
}
#work {
    background-color: rgba(0,0,0,0.5);
}
#contact {
    background-color: rgba(0,0,0,0.75);
}

@media only screen and (min-width: 768px) {
    .mdc-tab-bar {
        display: flex;
        justify-content: flex-end;
    }
    .mdc-top-app-bar__navigation-icon {
        display: none;
    }
}