@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&family=Stint+Ultra+Expanded&display=swap');

:root {
  --bg-primary: 24, 115, 195;
  --mdc-theme-primary: rgb(var(--bg-primary));
}

* {
  box-sizing: border-box;
  font-family: 'Pontano Sans', sans-serif;
}

a {
  color: var(--mdc-theme-primary);
  text-decoration: none;
}

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-indent: 10%;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 50px 10%;
}

section * {
  max-width: 2160px;
}

.avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.projects > div {
  margin-bottom: 15px;
}
.social {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#contact form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
}
#contact form > div,
#contact form > button {
  margin-bottom: 15px;
}

#about {
  padding-top: 100px;
}
#about h1 {
  font-size: 3em;
}
#about #seattle {
  border-radius: 5px;
  width: 100%;
  height: auto;
}

#work {
  background-color: rgba(var(--bg-primary), 0.25);
}

@media only screen and (min-width: 900px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
  }
  .projects > div {
    max-width: 45%;
  }

  #about #seattle {
    margin: 0 auto;
    width: 60%;
  }
}
