:root {
  --bg-primary: 30, 136, 229;
  --mdc-theme-primary: rgb(var(--bg-primary));
}

@font-face {
  font-family: 'Didot';
  src: url('./assets/ufonts.com_didot.eot');
  src: url('./assets/ufonts.com_didot.woff') format('woff');
  src: url('./assets/ufonts.com_didot.ttf') format('truetype');
}

body {
  background-color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  color: var(--mdc-theme-primary);
  text-decoration: none;
}

#last-name {
  font-weight: bold;
}
section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 50px 10%;
}
section * {
  max-width: 2160px;
}
.avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

#landing {
  padding-top: 100px;
}
#landing h1 {
  font-size: 3em;
}
#landing #seattle {
  border-radius: 5px;
  width: 100%;
  height: auto;
}
#about p {
  font-size: 1.5rem;
  text-align: left;
  line-height: 2rem;
}
#work {
  background-color: rgba(var(--bg-primary), 0.25);
}
#contact form {
  display: flex;
  flex-direction: column;
}
#contact form > div,
#contact form > button {
  margin-bottom: 15px;
}
.projects > div {
  margin-bottom: 15px;
}

@media only screen and (min-width: 900px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
  }
  .projects > div {
    max-width: 30%;
  }

  #contact form {
    margin: 0 auto;
    width: 60%;
  }
  #landing #seattle {
    margin: 0 auto;
    width: 60%;
  }
}
